<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>iPhone10,4-Default</key>
	<string>b58ba0ac13b4d174b3c60de707f84488c3d200aa8f997a6a507f1ea1423cb7eb</string>
</dict>
</plist>
